:root {
  --main__background: #07D7E6;
  --main__color: #071E20;
  --color__light: #fff;
  --color__dark: #7C7C7C;
  --background__dark: #071E20;
  --border: 2px solid #071E20;
  --border_2: 2px solid #E0E0E0;
  --border_3: 3px solid #07D7E6;
  --barder_padding_main: 10px 33px;
  --button_padding: 8px 28px;
}

body {
  color: var(--main__color);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
}

.wrapper {
  max-width: 1289px;
  margin: auto;
  padding: 0px 18px;
}

.button {
  padding: var(--button_padding);
  border: var(--border);
}

.border_main {
  border: var(--border_3);
  padding: var(--barder_padding_main);
  border-radius: 24px;
}

.grid {
  display: grid;
  grid-template-columns: auto minmax(214px, -webkit-min-content);
  grid-template-columns: auto minmax(214px, min-content);
  grid-template-rows: auto auto;
  gap: 41px;
}
.grid_box_max {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
}

.fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  border: none;
}
.fieldset label {
  padding: var(--button_padding);
  border: var(--border);
  white-space: nowrap;
}

.technologies {
  font-size: 31px;
  font-weight: 700;
  line-height: 35px;
}
.technologies div:nth-child(1) {
  background: #73C5F3;
}
.technologies div:nth-child(2) {
  background: #57DA74;
}
.technologies div:nth-child(3) {
  background: #7378F3;
}
.technologies span {
  font-size: 54px;
}
.technologies div {
  display: grid;
  grid-template-columns: minmax(270px, 1fr) -webkit-min-content;
  grid-template-columns: minmax(270px, 1fr) min-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 28px 11px 0px;
}
.technologies div p {
  width: 64px;
  direction: rtl;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 62px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services__blokc {
  border-radius: 17.5648px;
  border: 1px solid #EAEAEA;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 386px;
          flex: 0 1 386px;
  background: aquamarine;
}
.services__img {
  position: relative;
}
.services__img_1 {
  position: absolute;
  top: 4px;
  right: -30px;
}
.services__text {
  padding: 20px;
}