.result{
    align-items: center;

    div{
        flex: 1 1 247px;
    }

    .nimbus{
        display: block;
        position: relative;
        clip-path: inset(-52% -15% 4% 0);
    }
    .nimbus::after{
        content: "";
        display: inline-block;
        border: 60px solid var(--accent__background);
        border-radius: 50%;
        position: absolute;
        top: 0;
        width: 104%;
        height: 120%;

        transform-origin: 198px 157px;
        transform: rotate(0deg);
        animation: rotate 3s linear infinite;
    z-index: -1;
    }
    @keyframes rotate {
        100%{
            transform: rotate(360deg);
        }
    }
    
}