:root {
    --accent__background: #07D7E6;
    --main__color: #071E20;
    --color__light: #fff;
    --color__dark: #7C7C7C;

    --background__body: #fff;
    --background__dark: #071E20;
    --background__light: #fff;
    --border: 2px solid #071E20;
    --border_2: 2px solid #E0E0E0;
    --border_accent: 2px solid #07D7E6;

    --barder_padding_main: 10px 33px;
    --button_padding: 8px 28px;

    --barder_radius: 24px;
}

body {
    color: var(--main__color);

    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    text-transform: lowercase;
    overflow-x: hidden;
}

::selection {
    background: var(--accent__background);
    color: var(--color__light);
}

.wrapper {
    max-width: 1289px;
    margin: auto;
    padding: 0px 11px;

    > *:not(:first-child, [class*=nav], .modal){
        padding-top: 41px;
    }
}

.button_main{
    background: var(--accent__background);
    color: var(--color__light);
    padding: 7px 27px;
    border: var(--border_accent);
    border-radius: var(--barder_radius);
    transition: 0.2s cubic-bezier(0, 0, 0.2, 1);

    &:hover{
    background: inherit;
    color: var(--main__color);
    }
}
.button{
    padding: var(--button_padding);
    border: var(--border);
    border-radius: var(--barder_radius);

    transition: 0.2s cubic-bezier(0, 0, 0.2, 1);

    &:hover{
        border: var(--border_accent);
        background: var(--accent__background);
        color: var(--color__light);
    }
}
.border_main{
    border: var(--border_accent);
    padding: var(--barder_padding_main);
    border-radius: var(--barder_radius);

    transition: 0.2s cubic-bezier(0, 0, 0.2, 1);

    &:hover{
        background: var(--accent__background);
        color: var(--color__light);
    }
}

.button_circle{
    border: 1px solid #7C7C7C;
    padding: 12px 7px;
    border-radius: var(--barder_radius);
    display: inline-block;
    line-height: 0px;
    background: var(--background__body);

    &:hover{
        border: 1px solid var(--accent__background);
        background: var(--accent__background);
        color: var(--color__light);
    }
    &:active{
            transform: scale(1.3);
    }
}

.headline_block{
    display: flex;
    justify-content: space-between;
        align-items: center;
            flex-wrap: wrap;
                gap: 14px;
    padding-bottom: 24px;

    button{
            vertical-align: super;
    }
    .fieldset {
        flex-wrap: wrap;
    }
}

.text{
    >*:nth-child(1){
        font-weight: 700;
        font-size: 23px;
line-height: 22px;
    }
    > *:not(:first-child) {
    margin-top: 13px;
}
}

.flex_text{
        display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 21px;

   & p:nth-child(1){
        flex: 1 1 100%;
    }
}

.title{
    display: inline-block;
    font-weight: 700;
    font-size: clamp(2.125rem, 1.877rem + 1.24vw, 2.875rem);
    text-transform: initial;
}

.grid, .grid_1, .grid_2, .grid_3 {
    display: grid;
    gap: 41px;
}

.grid{
    grid-template-columns: auto minmax(214px, min-content);
    grid-template-rows: auto auto;

    &_box_max{
        grid-row: span 2;
    }
}

.grid_1{
    grid-template-columns: auto minmax(214px, min-content);
    grid-auto-flow: dense;

    &_box_max{
        grid-row: span 3;
    }

    @media (max-width:790px){
        &_box_max {
            grid-row: span 3;
            grid-column: span 2;
        }
&_box_item{
    grid-column-start: 1;
    grid-column-end: 3;
}
& .fieldset{
    flex-wrap: wrap;
}
    }
    @media (max-width:545px){
        &{
            grid-template-columns: 1fr;
            grid-auto-flow: inherit;
            column-gap: 0px;
        }
    }
}

.grid_2{
    grid-template-columns: minmax(396px, auto) minmax(291px, 520px);

    &_box_max{
        grid-row: span 2;
    }

    @media (max-width:850px){
        &_box_max{
            grid-column: span 2;
        }
        &{
            grid-template-columns: minmax(250px, auto) minmax(331px, auto);
        }
    }
    @media (max-width:670px){
        &_box_max{
            grid-column: span 1;
        }
        &{
            grid-template-columns: 1fr;
        }
    }
}
.grid_3{
    grid-template-columns: auto auto;

    &_box_max{
        grid-row: span 3;
    }

    @media (max-width:900px){
        &{
            grid-template-columns: 1fr;
        }
    }
}

.flex{
    display: flex;
    flex-wrap: wrap;
}


.fieldset{
    display: flex;
    padding: 0px;
    border: none;
    gap: 14px;

    & label{
    white-space: nowrap;
    position: relative;
    }
    & input {
    position: absolute;
    opacity: 0;
}
    & input+span{
        padding: var(--button_padding);
    border: var(--border);
    border-radius: var(--barder_radius);
    display: block;

    transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
    }

    & input:checked+span{
        background: var(--background__dark);
        color: var(--color__light);
    }

    & input+span:hover{
    border: var(--border_accent);
    }

    & input:checked+span:hover{
        background: var(--accent__background);
        color: var(--color__light);
    }
}


.technologies{
    font-weight: 700;
    font-size: clamp(2.75rem, 2.544rem + 1.03vw, 3.375rem);
    line-height: 37px;

    & div:nth-child(1) {
        -webkit-text-stroke-color: #73C5F3;
        background: #73C5F3;
    }
    & div:nth-child(2) {
        -webkit-text-stroke-color: #57DA74;
        background: #57DA74;
    }
    & div:nth-child(3) {
        -webkit-text-stroke-color: #7378F3;
        background: #7378F3;
    }

    & span {
        white-space: nowrap;
        font-size: clamp(1.531rem, 1.418rem + 0.57vw, 1.875rem);
        font-weight: bolder;
    }

    & b {
        font-size: 152px;
        text-transform: uppercase;
    }

    & div{
    padding: 0px 28px 11px 0px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
    & div p {
        -webkit-text-stroke-width:1px;
        color: var(--color__light);
        width: 0px;
        direction: rtl;
    }
}

.services{
    display: flex;
    flex-wrap: wrap;
    gap: clamp(1.75rem, 1.213rem + 2.68vw, 3.375rem);
    justify-content: center;

    &__blokc{
    border-radius: 17.5648px;
    border: 1px solid #EAEAEA;
    transition: all 0.5s ease-in-out;
        
        flex: 1 1 297px;
        max-width: 418px;
        transition: all 0.5s ease-in-out;
    }
    &__blokc:hover {
        transform: scale(1.1);
        box-shadow: 0px 2px 6px rgb(0 0 0 / 40%);
    }
    &__blokc:hover &__img {
        clip-path: inset(-26% -9% 1% 0);
    }
    &__blokc:hover &__img_1 {
        transform: matrix(1.3,0,0,1.3,0,-25);
    }
    &__img{
        position: relative;

    height: 200px;
    clip-path: inset(0 0 1% 0);
    transition: all 0.5s ease-in-out;
    }
    &__img img:nth-child(1){
        width: 100%;
        height: inherit;
    }
    &__img_1{
        transition: all 0.5s ease-in-out;
        position: absolute;
        top: 4px;

        height: inherit;
        right: 0;
        left: 0;
        margin: auto;
    }
    &__text{
        padding: 16px;
    }

    &__person_1{
    top: -12px;
    height: 105%;
    right: -7%;

}
&__blokc:hover &__person_1{
    transform: matrix(1.19, 0, 0, 1.19, -31, -20);
}
    &__person_2{
        top: 33px;
    height: 83%;
    }
     
    &__person_3 {
    top: 16px;
    height: 111%;
    }
}

.apartments{
        align-items: start;

    &_list{
        display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-weight: 800;

    & p{
        text-align: center;
        flex: 0 0 112px;
    line-height: 142.687%;
    }
    & span{
        white-space: nowrap;
        display: block;
    }
    & button{
        justify-self: baseline;
    }
    }
}


.form{
    border-radius: 16px;
background: var(--background__light);
padding: 36px clamp(1.188rem, 0.548rem + 3.2vw, 3.125rem) clamp(1.875rem, 1.359rem + 2.58vw, 3.438rem);
max-width: 554px;

display: flex;
flex-wrap: wrap;
justify-content: space-between;
row-gap: clamp(1.75rem, 1.42rem + 1.65vw, 2.75rem);
column-gap: 19px;

&__title{
    width: 100%;
    font-size: 34px;
    line-height: 48px;
}

& textarea{
    width: 100%;
}
& input{
    border-width: 0px;
    max-width: 178px;
}
& input[type="email"]{
    border-bottom: var(--border);
}
& input[type="tel"]{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

& .fieldset{
    flex-wrap: wrap;
}

&__info{
    padding: 30px;
    border: 1px solid #EAEAEA;
    background: #f9f9f9;
}

&__btn{
    margin: auto;
    padding: var(--button_padding);
    border-radius: var(--barder_radius);
    background: var(--background__dark);
    color: var(--color__light);

    transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
    &:hover{
        background: var(--accent__background);
            color: var(--color__light);
    }
} 

&__block{
    >*:nth-child(1){
        margin-bottom: 24px;
    }
}

&__block-max{
    flex: 1 0 auto;
}

& >*:nth-last-child(1) {
    color: #7A7A7A;
    font-size: 16px;
line-height: 142.687%;
letter-spacing: 0.4px;
}
& a{
    color: #0074C9;
}

@media (max-width:422px){
    &__block-max{
        flex: 1 1 auto;
    }
}

}

.accordion{
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 617px;
    gap: 20px;
    align-items: flex-start;

    &__item:hover::before{
        color: var(--accent__background); 
    }
    &__item:nth-child(1){
        flex: 1 1 100%;
    }
    &__item:nth-last-child(1){
        flex: 1 1 61%;
    }
    &__item{
        border: 1px solid #7C7C7C;
        padding: 20px;
        border-radius: var(--barder_radius);
        position: relative;
        flex: 1 1 185px;

        &:hover{
            border: 1px solid var(--accent__background);
        }
    }
    & input{
        position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    appearance: none;
    }
    & input ~ p:nth-child(3){
        overflow: hidden;
        max-height: 0vh;
        padding-top: 0px;
        transition: max-height 1s ease-in-out, padding-top 1s;
    }
    & input:checked ~ p:nth-child(2){
        border-bottom: 1px solid #7C7C7C;
        padding-bottom: 15px;
    }
    & input:checked ~ p:nth-child(3){
         overflow: hidden;
    max-height: 100vh;
    padding-top: 20px;
    transition: max-height 1s ease-in-out, padding-top 1s;
    }

    &__item::before , &__text::after{
content: "+";
display: inline-block;
color: #7C7C7C;

line-height: inherit;

font-size: 41px;
font-family: monospace;
line-height: 12px;
vertical-align: sub;
}
    &__text::after{
display: block;
line-height: 26px;
    text-align: end;
    transform: rotate(45deg);
    transform-origin: right;
}
}


@import"_header.scss";
@import"_assistance.scss";
@import"_licenses.scss";
@import"_result.scss";
@import"_slider.scss";
@import"_modal.scss";
